@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

body{
    font-family: 'Montserrat', sans-serif;

}